body {
    color:#4d4d4d;
    background-image: url("../images/Blue\ polygonal\ background.jpg") ;
    background-size: cover;
    font-family: Georgia, Helvetica, sans-serif, serif, 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.title {
  text-align: right;
  font: serif;
}

h4, h5 {
  padding: 30px;
  font-weight: bold;

}

h5 {
  font: normal normal bold 43px/1.4em 'noticia text',serif;
  font-size: 20px;
  font-style: italic;
}

.tien-image{
    height: 385px;
    width: 375px;
    border-radius: 50%;
}

#github-logo{
    height: 70px;
    width: 100px;
}

.fixed-bottom {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    height: 50px;
  }

  #masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #921d1d;
    background: #ffffff;
    /* border-bottom: 2px solid #cccccc; */
    background: rgba(171, 205, 239, 0.3);
  }
  
  #logo {
    float: left;
    width: 250px;
    height: 95px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #4d4d4d;
    text-align: center;
    text-decoration: none;
  }
  
  nav {
    float: right;
    margin-top: 25px;
    font-weight: bold;
  }
  
  #main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);

  }
  
  .main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    /* border: 1px solid #dddddd; */
    margin-bottom: 40%;
    background: rgba(171, 205, 239, 0.3)
  }

 #linkedin-logo:hover, #github-logo:hover, .resume-btn:hover {
  
    transform: scale(1.5);
 }

  #linkedin-logo {
    height: 70px;
    width: 70px;
  }

  .dev-icons {
    font-size: 40px;
    color: #4d4d4d;
  }
  
  .dev-icons .list-inline-item i:hover {
    color: #BD5D38;
  }
.skill-item{
  font-size:16px;
  font-weight: bold;
}

.skill-item:hover{
  color: #BD5D38;
}
  .resume-btn {
    height: 70px;
    width: 70px;
    text-align: center;
    padding: 0%;
    padding-top: 20px;
  }

  .work {
    position: relative;
    float: left;
    width: 274px;
    height: 200px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    height: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  
  .work a {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 7px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }

  #linkedin {
    font-weight: bold;
    font-size: 20px;
  }
  .resume-btn {
    background-color: #f7797d;
    font-weight: bold;
  }
  
  