body {
    color: black;
    background-color: white ;
    background-size: cover;
    font-family: Georgia, Helvetica, sans-serif, serif, 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;

}

.main-bio{
  padding: 15px;
}

.container-fluid {
    padding: 0 !important;

}

.title {
  text-align: right;
  font: serif;
}

h4, h5 {
  padding: 30px;
  font-weight: bold;

}

h5 {
  font: normal normal bold 43px/1.4em 'noticia text',serif;
  font-size: 20px;
  font-style: italic;
}

.tien-image{
    height: 380px;
    width: 380px;
    border-radius: 50%;
    float: left;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
  
}

#github-logo{
    height: 70px;
    width: 70px;
    border-radius: 5px;
}

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: whitesmoke;
  text-align: center;
  background: rgb(43,43,43);
  height: 50px;

}

.container{
    width: 100%;
    clear: both;
    max-width: 980px;
}

#masthead {
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    border-bottom: 1px solid #868e96;
    background: rgb(43,43,43);
  }

#heading {
    z-index: 99;
    width: 100%;
    background: black;
    color: whitesmoke;
    text-align: center;
    height: 38px;
    font-family: Georgia, Helvetica, sans-serif, serif, 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

}
#headimg{
  width: 100%;
  height: 85vh;
}
  #logo {
    float: left;
    width: 250px;
    height: 95px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
  }
  
  .navBarHead {
    float: right;
    font-weight: bold;
  }


  .navBarHead a {
    padding-left: 15px;
    margin-left: 15px;
      padding-right: 15px;
      margin-right: 15px;
    line-height: 3px;
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
  }

  .navHome {
    width: 100%;
      font-weight: bold;

  }

  .navHome a {
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
      padding-left: 15px;
      margin-left: 15px;
      padding-right: 15px;
      margin-right: 15px;
      line-height: 3px;

  }


   nav li{
    border-left: 1px solid #868e96;

  }

  nav li:first-child {
    border-left: 0 none;
  }

.nav>li {
  display: inline-block;
  width:initial;
  white-space: nowrap;
  text-align: center;
}
.nav {
  display: inline-block;
}

nav a:hover{
  color: #BD5D38;

}
  #main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);

  }
  .icon-img { 
    display: inline-block!important;
  }
  
  .main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 20px;
    margin: 0 0 40px;
    background: #ffffff;
    margin-bottom: 40%;
    background: rgba(245,245,245, 0.5);
    border: 1px solid #868e96;

  }

 #linkedin-logo:hover, #github-logo:hover, .resume-btn:hover {
  
    transform: scale(1.5);
 }

  #linkedin-logo {
    height: 70px;
    width: 70px;
  }
 

  .dev-icons {
    font-size: 40px;
    color: #343a40;
  }
  
  .dev-icons .list-inline-item i:hover {
    color: #BD5D38;
  }
.skill-item{
  font-size:16px;
  font-weight: bold;
}

.skill-item:hover{
  color: #BD5D38;
}
  .resume-btn {
    height: 70px;
    width: 70px;
    text-align: center;
    padding: 0%;
    padding-top: 20px;
  }

.smoke{
   padding-right: 40px;
}

.smoke video {
    width: 120%;
    text-align: center;
    display: block;
}
  #linkedin {
    font-weight: bold;
    font-size: 20px;
  }
  .resume-btn {
    background-color: #C0C0C0;
    font-weight: bold;
  }
  #sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  
  #sideNav .navbar-toggler:focus {
    outline-color: teal;

  }

  .card {
    color: black;
    background-color: whitesmoke;
  }

  .card-img-top {
      width: 350px;
      height: 350px;
      padding-top: 20px;
      display: block;

  }

  .github-btn {
    width: 60px;
    height: 50px;
    border-radius: 5px;
  }

  .github-btn:hover{
    opacity: 0.2;
  }

  .view-btn {
    width: 60px;
    height: 50px;
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
  }

  @media screen and (max-width: 980px) {
    .tien-image
    {
      width: auto;
      height: auto;
      max-width: 100%;
      padding-right: 10px;
     }

    #masthead {
      position: static;
     clear: both; 
     margin-bottom: 20px;

   }


      .navHome {
          text-align: center;
          width: 100%;
      }

      .smoke video {
          width: 120%;
          display: block;

      }

      .smoke{
        padding-right:40px;
      }

      .smoke span{
          font-size: 80%;
      }
  }
  

  @media screen and (max-width: 768px) {
   
    .container {
  
      width: 100%;
    } 

    .main-section {    
      width: 100%;
      max-width: 640px;  
    }

    .tien-image
   {
      width: 100%;
      height: auto; 
      padding-right:10px;
      max-width: 768px;
    }
     #masthead {
       position: static;
      clear: both; 
      margin-bottom: 20px;

    }  
     #main-container {
      padding-top: 10px;
      min-height: calc(100vh - 70px);
    }

      #heading {
          position: static;
          clear: both;
          margin-bottom: 40px;

      }

      .top-head{
        height: 65vh;
      }
  
      #headimg{
        height: 65vh;
      }

      .navHome {
          text-align: center;
          width: 100%;
          display: inline-block;

      }

      #nav li {
          display: inline-block;
          text-align:center;
      }
      .smoke{
         padding-right: 40px;
      }

      .smoke video {
          width: 120%;
          display: block;
      }

      .smoke span{
          font-size: 40%;
      }
    
  }

  @media screen and (max-width: 575px) {
    #masthead {
      position: static;
      clear: both;  
      margin-bottom: 20px;
      
    }
      .navBarHead{
          font-size: 80%;
      }

    #heading {
          position: static;
          clear: both;

        font-size: 80%;
    }


      .smoke{
          width: 100%;
          text-align: center;
          padding-right: 40px;
      }

      video {
          height: 100%;
          width: 120%;
          display: block;
      }

    .smoke span{
        font-size: 15%;
    }

    .fullstack{
      display: none;
    }
    #main-container {
      padding-top: 10px;
      min-height: calc(100vh - 70px);
    }
    .container{
 
      width: 100%;
    
    } 
    .main-section {    
      width: 100%;
    }
    .tien-image {    
      width: 100%;    
 
    }

    h4{
      font-size: 20px;
    }

    #logo {
      width: 100%;
      color: white
    }

    nav {
      text-align: center;
      width: 100%;
    }

    .navHome{
    width: 100%;
    }

    .top-head{
      height: 30vh;
    }

    #headimg{
      height: 30vh;
    }

    .nav {
      text-align: center;
      width: 100%;
    }


  .card-img-top{
      width: 90%;
  }
    .icon-img { 
      width: 33%;
      text-align: center;
      display: inline-block;
      }
  }

  